In [5]:
import pandas as pd
from sklearn import svm, datasets
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.multiclass import OneVsRestClassifier

In [2]:
train_url = "./Data/Train/train_data.csv"
test_url = "./Data/Test/test_data.csv"

train_data = pd.read_csv(train_url)
test_data = pd.read_csv(test_url)

print(train_data.shape)
print(test_data.shape)
train_data.head()

(800000, 8)
(200000, 8)

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,5.572427,4.850337,1.149870,1.0,0.0,0.0,0.0,0.0
1,5.327530,3.933291,1.682739,1.0,1.0,0.0,1.0,0.0
2,78.945633,0.023222,2.740935,1.0,1.0,0.0,1.0,0.0
3,10.119026,26.548445,1.945075,1.0,0.0,0.0,0.0,0.0
4,33.646388,1.909240,0.888281,1.0,0.0,0.0,0.0,0.0

In [3]:
train_X, train_Y = train_data.drop("fraud", axis=1), train_data["fraud"]
test_X, test_Y = test_data.drop("fraud", axis=1), test_data["fraud"]
print("Train Data Shape", train_X.shape, train_Y.shape)
print(train_Y.value_counts())
print("Test Data Shape", test_X.shape, test_Y.shape)
print(test_Y.value_counts())
train_X.head()

Train Data Shape (800000, 7) (800000,)
0.0    730181
1.0     69819
Name: fraud, dtype: int64
Test Data Shape (200000, 7) (200000,)
0.0    182416
1.0     17584
Name: fraud, dtype: int64

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order
0,5.572427,4.850337,1.149870,1.0,0.0,0.0,0.0
1,5.327530,3.933291,1.682739,1.0,1.0,0.0,1.0
2,78.945633,0.023222,2.740935,1.0,1.0,0.0,1.0
3,10.119026,26.548445,1.945075,1.0,0.0,0.0,0.0
4,33.646388,1.909240,0.888281,1.0,0.0,0.0,0.0

In [12]:
train_X.iloc[:4].shape

(4, 7)

# Support Vector Machine Classifier

## Linear SVM

Dataset is too massive, sample first 100,000 rows of the dataset.

In [23]:
sample_size = 100000

In [24]:
clf = svm.SVC(kernel='linear')
clf.fit(train_X.iloc[:sample_size], train_Y.iloc[:sample_size])

SVC(kernel='linear')

In [25]:
pred_Test_Y = clf.predict(test_X.iloc[:sample_size])

In [26]:
# get accuracy
accuracy_score(test_Y.iloc[:sample_size], pred_Test_Y)

0.96031

In [27]:
confusion_matrix(test_Y.iloc[:sample_size], pred_Test_Y)

array([[90530,   643],
       [ 3326,  5501]])

## OneVsRestClassifier

In [ ]:
one_v_rest_clf = OneVsRestClassifier(SVC(kernel='linear', probability=True), n_jobs=-1)
one_v_rest_clf.fit(train_X.iloc[:sample_size], train_Y.iloc[:sample_size])

In [ ]:
pred_Test_Y_ovr = one_v_rest_clf.predict(test_X.iloc[:sample_size])

In [ ]:
accuracy_score(test_Y.iloc[:sample_size], pred_Test_Y_ovr)